.da-appMount {
  background: url("https://i.imgur.com/PmYI9Mu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.da-guilds {
  padding-left: 0;
}

.da-guilds > .guild-1EfMGQ {
  height: 35px;
  overflow: hidden;
  width: 100%;
  background: #c8c2aa;
  border: 1px solid transparent;
  margin-top: 15px;
  transition: all 0.2s;
}

.da-guilds > .guild-1EfMGQ:nth-child(1) {
  width: 57px;
  height: 48px;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.da-guilds > .guild-1EfMGQ:nth-child(1).selected-ML3OIq,
.da-guilds > .guild-1EfMGQ:nth-child(1):hover {
  border-color: transparent;
  animation: none;
}
.da-guilds > .guild-1EfMGQ:nth-child(1) .da-guildInner::before {
  background-color: transparent;
}
.da-guilds > .guild-1EfMGQ:nth-child(1) a {
  background-image: url("https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.da-guilds > .guild-1EfMGQ:nth-child(1) svg {
  display: none;
}