.tutorialContainer-1pL9QS .wrapper-3kah-n,
.tutorialContainer-1pL9QS .svg-2ifYOU {
  height: 57px;
  width: 48px;
}
.tutorialContainer-1pL9QS .svg-2ifYOU {
  animation-name: y-spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.tutorialContainer-1pL9QS .svg-2ifYOU foreignobject svg * {
  fill: none !important;
}

@keyframes y-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.iconSize-Ai8Wtu {
  -webkit-mask: url("https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg");
          mask: url("https://discord.com/assets/c30220448097b064286a8759a9b6c4af.svg");
  background: var(--color-alert) !important;
}

foreignObject[mask="url(#svg-mask-status-dnd)"] .status-2DiCMd {
  background-color: var(--color-alert) !important;
}

.iconBadge-2wi9r4.participating-NBGDkr,
.iconBadge-3Mmg92 {
  background-color: var(--color-alert);
}

.strikethrough-2Kl6HF {
  color: var(--color-alert);
}
