:root {
	--font-primary: 'Karla', sans-serif;
	--font-display: var(--font-primary) !important;
	/* Dark Matter Variables */
	--avatar-size: 32px;
	--home-image: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png');
	--background-solid: #161921;
	--background-solid-dark: #101218;
	--background-solid-darker: #0c0e12;
	--accent: 37, 172, 232;
	--accent-alt: 29, 101, 134;
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	/* BlurpleRecolor */
	--accentcolor: var(--accent);
	--vaccentcolor-hover: rgb(var(--accent));
	--vaccentcolor-active: rgb(var(--accent));
}
/* Guilds */
ul[data-list-id='guildsnav'] {
	
}

ul[data-list-id='guildsnav'] ::-webkit-scrollbar {
	display: none;
}

#app-mount [data-list-item-id="guildsnav___home"]>div {
	width: 57px;
	height: 48px;
	background-color: transparent;
	back
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	animation-name: spin;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

div[data-list-item-id="guildsnav___home"] {
	background: url('https://raw.githubusercontent.com/AccraZed/YoRHA-UI-BetterDiscord/master/assets/icons/home_light-theme.png')
		center/contain no-repeat;
	background-size: cover;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


